.heading {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 3rem;
  font-size: 50px;
  border: solid 0.2rem;
  padding: 1rem;
}

.itemsDiv {
  margin-top: 4rem;
  border: 1px solid #4c3c1b;
}

.card-header {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  font-size: 1.2rem;
}

.card-img {
  height: 22rem;
}

.card-img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  position: relative;
  left: 1rem;
}

.price {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  position: relative;
  float: right;
  right: 1rem;
}
}
